.full_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    /* margin-top: 160px; */
    display: flex;
    flex-direction: row; /* Cambiado de row a column para que el texto y las imágenes estén en columnas separadas */
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: 30px;
    gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
    font-size: 24px;
    color: black;
    background-color: #F7A80F;
    border-radius: 16px;
    padding: 10px;
    
}
.visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.imagenes_oferta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen_oferta_grande {
    width: 100%;
    max-width: 800px;
    height: auto;
    min-width: 600px;
}

.contenedor_imagenes_pequenas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0; /* Eliminar cualquier espacio entre las imágenes */
    width: 100%;
    max-width: 700px;
}

.imagen_oferta_pequena {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0; /* Asegura que no haya márgenes alrededor de las imágenes */
}

.mapa {
    margin-top: 20px;
    width: 100%;
}
