.color{
    color: black;
}
.contenedor_bienestar{
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.aprende_boton{
    background-color: rgb(97, 90, 90);
}
.imagen_bienestar{
    aspect-ratio: 16/9;
    height: 550px;
}
.contenedor_texto_bienestar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor_texto_bienestar > div{
    width: 50%;
}
