.fondo_header_log{
    background-color: black;
    width: 100%;
}
.avatar{
    background-color: transparent;
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.avatar:hover{
    cursor: pointer;
    
}